      <ion-label *ngIf="mesa.horaModificadaPrimerLlamado != null" >
        <H2>{{mesa.nombreLargoAsignatura}}</H2>
        <H3> Se ha modificado el horario del primer llamado a las </H3>
        <H3> {{mesa.horaModificadaPrimerLlamado}}Hs </H3>
        <p>Carrera: {{mesa.nombreLargoCarrera}}</p>
      </ion-label>
      <br/>
      <ion-label *ngIf="mesa.fechaModificadaPrimerLlamado != null">
        <H2> {{mesa.nombreLargoAsignatura}}</H2>
        <H3> Se ha modificado la fecha del primer llamado al dia </H3>
        <H3> {{mesa.fechaModificadaPrimerLlamado}} </H3>
        <p>Carrera: {{mesa.nombreLargoCarrera}}</p>
      </ion-label>
      <br/>
      <ion-label *ngIf="mesa.horaModificadaSegundoLlamado != null">
        <H2> {{mesa.nombreLargoAsignatura}}</H2>
        <H3> Se ha modificado el horario del Segundo llamado a las </H3>
        <H3> {{mesa.horaModificadaSegundoLlamado}}Hs </H3>
        <p>Carrera: {{mesa.nombreLargoCarrera}}</p>
      </ion-label>
      <br/>
      <ion-label *ngIf="mesa.fechaModificadaSegundoLlamado != null">
        <H2> {{mesa.nombreLargoAsignatura}}</H2>
        <H3> Se ha modificado la fecha del segundo llamado al dia </H3>
        <H3> {{mesa.fechaModificadaSegundoLlamado}} </H3>
        <p>Carrera: {{mesa.nombreLargoCarrera}}</p>
      </ion-label>

