<ion-grid  >
  <ion-col size="12" size-lg="3" size-sm="6" size-md="4" size-xs="12">
    <ion-content [fullscreen]="true" >
      <ion-list  class=" item-md">
        <ion-item color="none" lines="none" *ngFor="let mesa of mesas">
          <app-notificacion  [mesa]="mesa"></app-notificacion>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-col>
</ion-grid>
