<app-header [header]="header"></app-header>

<ion-content  [fullscreen]="true">

  <ion-slides [options]="sliderOpts"
    *ngIf="datalocalService.mesas.length === 0 ">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

<app-mesas *ngIf="datalocalService.mesas.length > 0 "
          [enFavoritos]="true"
          [novedad]="true"
          [mesas]="datalocalService.mesas"></app-mesas>

</ion-content>
