/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//estilos propios

.mesa-source-name {
  font-size: 12px;
  color: lightgray;
}

.action-dark, .action-sheet-group{
 // background-color: var( --ion-color-dark ) !important;
  color:white !important;
}

.action-dark ion-icon {
  //color: #1a1a1a !important;
}

.ios .action-sheet-icon {
  display:none !important;
}

.tab-selected{
  color: var( --ion-color-dark ) !important;
}

ion-button{
  background-color: #222;
}

.button-align {
  width: 50vw;
  position: relative;
  align-items: center;
  left: 20%;
}

.tempus-card {
  border-radius: 5px;
  border: 1px solid;
  border-color:#222;
}

.tempus-card-header {
  color: white;
  background-color: #222;
}

.tempus-item {
  margin-top: 3%;
  margin-bottom: 3%;
}

// Animaciones
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
