
<app-header [header]="header" ></app-header>
<ion-content padding  class="action-dark" >
  <ion-card class="tempus-card " >
    <ion-card-header class="tempus-card-header">Seleccionar Mesas de Examen </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (submit)="consultarMesas()">
        <ion-list no-lines>
          <ion-item class="tempus-item">
            <ion-label >Carrera</ion-label>
            <ion-select formControlName="carrera" interface="carreras" (ionChange)="cargarAsignaturas()">
              <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.codigo">{{ carrera.nombreLargo }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="tempus-item">
            <ion-label floating>Asignatura</ion-label>
            <ion-select formControlName="asignatura" interface="asignaturas" >
              <ion-select-option *ngFor="let asignatura of asignaturas" value="{{ asignatura.codigo }}">{{ asignatura.nombreLargo }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="tempus-item">
            <ion-label floating stacked>Nombre del docente</ion-label>
            <ion-input formControlName="docente" type="text" ></ion-input>
          </ion-item>
        </ion-list>
          <ion-button ion-button full expand="" class="button-align" type="submit" color="dark">Buscar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <app-mesas class="" [mesas]="mesas"></app-mesas>
</ion-content>
