ion-segment{
}

ion-segment-button{
  //background-color: var( --ion-color-dark ) !important;
  color: white !important;
}

.segment-button-checked {
  color: var( --ion-color-primary ) !important;

}

.segment-button {
  font-size: 12px;
}

ion-slides, ion-slide{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
