.mesa-more{
  font-size:10px !important;
  position:absolute;
  right:-10px;
  top: -15px;
}

.button-color{
 background-color: transparent;
  color:white;
}

.ion-label{
  margin: 1em;

}

.label-text{
   color:white  !important;
   text-decoration-color: white;
 }