<ion-card class="animated fadeIn fast">
  <ion-card-header>
    <ion-card-subtitle>

      <span class="mesa-source-name">{{mesa.nombreLargoCarrera}}</span>
      <div class="mesa-more">
        <ion-button fill="clear button-color"
                    (click)="lanzarMenu()">
          <ion-icon slot="icon-only"  name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-subtitle>
    <ion-card-title>{{ mesa.nombreLargoAsignatura }} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>
      <ion-label> <b>Tribunal</b> </ion-label>
      <br/>
      <ion-label class="ion-label" ><a class=" label-text ">Presidente: </a>{{ mesa.nombrePresidente }} </ion-label>
      <br/>
      <ion-label class="ion-label"><a class=" label-text ">primer Vocal: </a> {{ mesa.nombreVocalPrimero }} </ion-label>
      <br/>
      <ion-label class="ion-label" *ngIf="mesa.nombreVocalSegundo != null"><a class=" label-text ">segundo Vocal: </a> {{ mesa.nombreVocalSegundo }}</ion-label>
      <br/>
      <ion-label class="ion-label" *ngIf="mesa.nombreSuplente != null"><a class=" label-text ">Suplente: </a> {{ mesa.nombreSuplente }} </ion-label>
    </div>
    <div *ngIf="mesa.fechaPrimerLlamado != null">
      <hr>
      <ion-label> <b>Primer llamado</b> </ion-label>
      <br/>
      <ion-label class="ion-label" *ngIf="!novedad" ><a class=" label-text ">Fecha: </a> {{ mesa.fechaPrimerLlamado }} </ion-label>
      <ion-label class="ion-label" *ngIf="novedad" ><a class=" label-text ">Fecha: </a> {{ mesa.fechaModificadaPrimerLlamado }} </ion-label>
      <br/>
      <ion-label class="ion-label" *ngIf="!novedad" ><a class=" label-text ">Hora: </a> {{ mesa.horaPrimerLlamado }} </ion-label>
      <ion-label class="ion-label" *ngIf="novedad" ><a class=" label-text ">Hora: </a> {{ mesa.horaModificadaPrimerLlamado }} </ion-label>
      <br/>
      <ion-label class="ion-label"><a class=" label-text ">Aula: </a> {{ mesa.aulaPrimerLlamado }} </ion-label>

    </div>
    <div *ngIf="mesa.fechaSegundoLlamado != null ">
      <hr>
      <ion-label  > <b>Segundo llamado</b> </ion-label>
      <br *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null"/>
      <ion-label *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null"> <b>Segundo llamado</b> </ion-label>
      <br/>
      <ion-label class="ion-label"  ><a class=" label-text ">Fecha: </a> {{ mesa.fechaSegundoLlamado }} </ion-label>
      <br *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null"/>
      <ion-label class="ion-label" *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null" > Fecha: {{ mesa.fechaModificadaSegundoLlamado }} </ion-label>
      <br/>
      <ion-label class="ion-label"  ><a class=" label-text ">Hora: </a>{{ mesa.horaSegundoLlamado }} </ion-label>
      <br *ngIf="novedad && mesa.horaModificadaSegundoLlamado != null"/>
      <ion-label class="ion-label" *ngIf="novedad && mesa.horaModificadaSegundoLlamado != null" ><a class=" label-text ">Hora: </a> {{ mesa.horaModificadaSegundoLlamado }} </ion-label>
      <br/>
      <ion-label class="ion-label" ><a class=" label-text ">Aula: </a> {{ mesa.aulaSegundoLlamado }} </ion-label>
      <br *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null"/>
      <ion-label class="ion-label" *ngIf="novedad && mesa.fechaModificadaSegundoLlamado != null"><a class=" label-text ">Aula: </a> {{ mesa.aulaSegundoLlamado }} </ion-label>
    </div>
    <hr>
  </ion-card-content>
</ion-card>
