ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}
.header-title{
  position: absolute;
}
.header-button{
  font-size:10px !important;
  position: relative;
  float: right;
}

ion-header{
  height: 60px;
}

