<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar >
    <ion-title  class="header-title">
      {{header}}
    </ion-title>
    <ion-tab-button (click)="mostrarModal()" class="header-button" >
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>
