
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="salir()" name="chevron-back-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides [options]="sliderOpts"
              *ngIf="mesas.length === 0 || datalocalService.mesas.length === 0 ">
    <ion-slide>
      <ion-label>No hay Favoritos</ion-label>
    </ion-slide>
  </ion-slides>
  <app-notificaciones *ngIf="datalocalService.mesas.length > 0  "
                      [enFavoritos]="true"
                      [mesas]="datalocalService.mesas"></app-notificaciones>
</ion-content>
