
<ion-grid>
  <ion-col size="12" size-lg="3" size-sm="6" size-md="4" size-xs="12" *ngFor="let mesa of mesas" class="tempus-card">
    <app-mesa
      [mesa]="mesa"
      [enFavoritos]="enFavoritos"
      [novedad]="novedad"></app-mesa>
  </ion-col>
</ion-grid>
